.bg-primary {
    background-color: $primary!important;
}

.bg-white {
    background-color: white!important;
}

.text-white {
    color: $white!important;
}

.text-body {
    color: $body-color!important;
}