@import "accessibility";
@import "navigation";
@import "images";
@import "gutenberg";
@import "wordpress";
@import "fonts";
@import "header";
@import "footer";
@import "blocks";
@import "post";
@import "colors";
@import "animations";
@import "forms";
@import "responsive";

.post.type-post {
    padding-top: 156px;
    @media screen and (max-width: 1200px) {
        padding-top: 174px;
    }
    @media screen and (max-width: 992px) {
        padding-top: 132px;
    }
    @media screen and (max-width: 768px) {
        padding-top: 136px;
    }
    &:has(.entry-header .entry-image) {
        .entry-meta,
        .entry-meta a,
        .entry-title {
            color:  white;
        }
    }

    .entry-image {
        max-height: 50vh;
        & .imagecontainer {
            height: 100%;
        }
        & img.img-fluid {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}
